:root {
    --base-color: #f8b656;
    --base-light-color: rgba(248, 182, 86, 0.5);
    --staff-color: #1BA6FF;
    --staff-light-color: rgba(27, 166, 255, .50);
    --story-color: #ff6d6d;
    --tv-color: #eb6f8b;
    --tv-light-color: rgba(235,111,139,.3);
    --member-color: #67d0ff;
    --simulcast-color: #E4007F;
    --text-color: #fff;

    /* Member color */

    --yu-color: rgba(29,29,29,1);
    --yu-light-color: rgba(29,29,29,.3);
    --ayumu-color: rgba(237,125,149,1);
    --ayumu-light-color: rgba(237,125,149,.3);
    --kasumi-color: rgba(231,214,0,1);
    --kasumi-light-color: rgba(231,214,0,.3);
    --shizuku-color: rgba(1,183,237,1);
    --shizuku-light-color: rgba(1,183,237,.3);
    --karin-color: rgba(72,94,198,1);
    --karin-light-color: rgba(72,94,198,.3);
    --ai-color: rgba(255,88,0,1);
    --ai-light-color: rgba(255,88,00,.6);
    --kanata-color: rgba(166,100,160,1);
    --kanata-light-color: rgba(166,100,160,.3);
    --setsuna-color: rgba(216,28,47,1);
    --setsuna-light-color: rgba(216,28,47,.6);
    --ema-color: rgba(132,195,110,1);
    --ema-light-color: rgba(132,195,110,.3);
    --rina-color: rgba(156,165,185,1);
    --rina-light-color: rgba(156,165,185,.3);
    --shioriko-color: rgba(55,180,132,1);
    --shioriko-light-color: rgba(55,180,132,.3);
    --mia-color: rgba(214,213,202,1);
    --mia-light-color: rgba(214,213,202,.3);
    --mia-color: rgba(169,168,152,1);
    --mia-light-color: rgba(169,168,152,.3);
    --lanzhu-color: rgba(248,200,196,1);
    --lanzhu-light-color: rgba(248,200,196,.3);

}


* {
    margin: 0;
    padding: 0;
    appearance: 0;
    text-align: left;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

div {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
pre,
blockquote,
div {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    object-fit: cover;
}

body {
    min-height: 100%;
    min-width: 1400px;
    position: relative;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif, "YakuHanJP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Noto Sans JP", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
    color: #4e4e4e;
    line-height: 1.5;
    
}

/* body */
body::after {
    width: 100%;
    height: 600px;
    content: '';
    position: fixed;
    top: 0;
    background-image: url(../assets/bg-l.png);
    background-color: var(--member-color);
    background-position: center bottom;
    background-size: cover;
    z-index: -1;
}

/* header */
.global_nav {
    font-size: 10px;
    padding: 0.5em 0px 0.5em 0px;
    height: 2em;
    background-color: var(--base-color);
    display: flex;
    justify-content: space-between;
}

.portal {
    margin: 0 0 0 1em;
    line-height: 1;
    height: 1em;
}

.portal a {
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 0.2rem;
}

.worldwide {
    margin: 0 1em 0 0;
    line-height: 1;
    height: 1em;
}

.worldwide a {
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 0.2rem;
}

/* Contents */

/* nav */

.contents {
    position: relative;
    padding: 0px 15px 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.contents>nav {
    width: 30%;
    position: relative;
}

.nav {
    position: relative;
    width: 100%;
    z-index: 499;
    padding-top: 30px;
    padding-right: 15px;
}

/* Logo */
.contents>#logo {
    width: 30%;
    position: relative;
    padding-top: 20px;
    padding-right: 15px;
}

#logo {
    position: relative;
    padding-top: 20px;
}

/* Contents Title */

.contents>#contentstitle {
    width: 70%;
    position: relative;
    padding-top: 20px;
    padding-left: 15px;
}

#contentstitle h1 {
    position: absolute;
    bottom: 0;
    width: calc(100% - 15px);
}

#contentstitle h1 {
    background-color: var(--member-color);
}

#contentstitle h1 {
    color: var(--text-color);
    border-radius: 2em;
    padding: .5em 1em;
    font-size: 100%;
    letter-spacing: -.02em;
    line-height: 1;
    font-weight: 300;
    width: 100%;
    z-index: 500;
}

/* Navigation */

.navigation ul {
    margin-bottom: 30px;
}

.navigation ul li {
    margin-bottom: 10px;
}

.navigation ul li a {
    display: block;
    font-size: 80%;
    text-align: center;
    border: thin solid;
    border-radius: 3em;
    line-height: 1;
    position: relative;
    transition: all .6s;
    text-decoration: none;
    color: #FFF;
    padding: 1em 7.9em;
    letter-spacing: -.05em;
}

.navigation li a.cast {
    background-color: var(--staff-color);
}

.navigation li a.cast:hover {
    background-color: var(--text-color);
    color: var(--staff-color);
}

.navigation li a.story {
    background-color: var(--story-color);
}

.navigation li a.story:hover {
    background-color: var(--text-color);
    color: var(--story-color);
}

.navigation li a.member {
    background-color: var(--member-color);
}

.navigation li a.member:hover {
    background-color: var(--text-color);
    color: var(--member-color);
}

.navigation li a.member::after {
    content: '〉';
    display: block;
    width: 1em;
    height: 1em;
    position: absolute;
    right: .5em;
    top: 1em;
}

/* banner */
.nav .bnr {
    margin-bottom: 30px;
}

.nav .bnr ul li {
    margin-bottom: 10px;
    text-align: center;
}

a.bnrbox {
    display: block;
    background-color: var(--simulcast-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 6px;
    padding: 1em;
    line-height: 1.2;
    text-align: center;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    border: 4px double rgba(255, 255, 255, 1.00);
    font-weight: bold;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    word-break: keep-all;
}

/* Main */
.main {
    padding-top: 30px;
    margin-left: 10px;
}

.contents>main {
    width: 70%;
    position: relative;
}

article {
    display: block;
}

main nav>div,
main article > div {
    width: 100%;
    padding: 0 1em;
    margin-bottom: 50px;
}

main article > div#member {
    padding: 0;
    margin-bottom: 3em;
}

/* Member */

/* Slick Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slider {
    margin: 0 0 1em;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

/* Social */

.social{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.social li img{
    width: 60px;
}



/* Footer */
footer {
    clear: both;
    width: 100%;
    position: relative;
    margin-top: 10rem;
    padding-bottom: 30px;
}

footer .endbar {
    width: 100%;
    height: 20px;
    margin: 0 auto;
    background-color: var(--base-color);
}

footer .copyright {
    margin: 0 auto;
    padding: 2em 0;
}

footer .copyright p {
    text-align: center;
    width: 100%;
    font-size: 70%;
    letter-spacing: -.003em;
}